.pageHeader {
  position: fixed;
  z-index: 20;
  width:100%;
  border-bottom: 1px solid $section-border-color;
  background: #ffffff;
  height: rem-calc(140);

  .header {
    position: relative;
    height: rem-calc(74);
    overflow: hidden;
    border-bottom: 1px solid $section-border-color;

    .logoContainer {
      position: relative;
      float: left;
      margin: $column-gutter / 1.5 rem-calc(20);
      width: rem-calc(150);
      height: rem-calc(40);

      @media #{$medium-up} {
        margin: $column-gutter / 1.5 $column-gutter;
      }

      a.logo {
        display: block;
        width: 100%;
        height: 100%;
        background: url("../images/logo.svg") no-repeat;
        background-size: contain;
      }
    }

    .headerBlock {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: rem-calc(11);
      padding-bottom: rem-calc(12);
      border-left: 1px solid $section-border-color;
    }

    .search,
    .lastModified,
    .user {
      position: relative;
      float: left;
      height: 100%;
      cursor: pointer;
      transition: 250ms all ease;

      &:hover {
        background: $white-smoke;
      }

      span {
        clear: both;
        margin: 0;
        text-transform: uppercase;
        font-family: $additional-font;
        font-size: rem-calc(12);
      }

      p {
        clear: both;
        margin: 0;
        color: $secondary-color;
        a {
          color: $secondary-color;
          &:hover {
            color: $body-font-color;
          }
        }
      }
    }

    .search {
      button {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        color: $section-border-color;
        border-left: 1px solid $section-border-color;
        background-color: $white;
        padding-top: rem-calc(17);

        .fi-magnifying-glass {
          font-size: rem-calc(30);
          font-weight: 300;
        }

        &:active {
          box-shadow: none!important;
        }

        &:hover {
          background-color: darken($white, 2%);
          color: darken($section-border-color, 10%);
        }
      }
    }

    .user {
      .image {
        position: relative;
        float: left;
        overflow: hidden;
        padding: rem-calc(3);
        width: rem-calc(50);
        height: rem-calc(50);
        border-radius: 100%;
        border: 2px solid $section-border-color;
        margin-right: $column-gutter / 2;
        background-color: $white;
        transition: 200ms all ease;

        img {
          height: 100%;
          border-radius: 100%;
          filter: gray(1);
          &:hover {
            filter: none;
          }
        }
      }

      .content {
        float: right;
      }
    }

    .lastModified {
      width: auto;
      min-width: rem-calc(250);
    }
  }

  .primaryNav {
    position: relative;
    background-color: #ffffff;

    @media #{$small-only} {
      display: none;
    }
  }

  .menu-trigger {
    padding-top: rem-calc(13);
    padding-right: $column-gutter / 2;

    .menu-icon {
      padding: rem-calc(12)
    }
  }
}