.pageContent {
  .row {
    &.main {
      height: 100%;
      .column,
      .columns {
        height: 100%;
      }
    }
  }

  .mainPanel {
    position: relative;
    height: 100%;
    padding: $column-gutter / 2;

    @media #{$medium-up} {
      padding: rem-calc(20) $column-gutter;
    }
  }

  .rightPanel {
    position: relative;
    border-left: 1px solid $section-border-color;
    padding: $column-gutter / 2;
    background: $sidepanel-bg-color;
    height: 100%;
    width: 100%;
  }


  #mainPanel {
    @include grid-column(12);
    padding-left: 0;
    padding-right: 0;
    padding-top: rem-calc(140);

    @media #{$large-up} {
      @include grid-column(8);
      padding-left: 0;
      padding-right: 0;
    }
  }

  #sidePanel {
    width: rem-calc(360);
    right: rem-calc(-350);
    transition: 250ms all ease-in-out;
    padding-top: rem-calc(140);

    @media #{$medium-up} {
      right: rem-calc(-450);
      width: rem-calc(460);
    }
    &.showPanel {
      right: 0px!important;
      @extend .bounceInRight;
    }

    &.hidePanel {
      right: rem-calc(-450)!important;
    }

    @media #{$large-up} {
      right: 0;
      @include grid-column(4);
      padding-left: 0;
      padding-right: 0;
    }
  }

  .toggleButton {
    position: absolute;
    left: rem-calc(-17);
    top: rem-calc(149);
    z-index: 10;
    padding: rem-calc(30) rem-calc(10);
    background: $sidepanel-bg-color;
    border-left: 1px solid $section-border-color;
    border-top: 1px solid $section-border-color;
    border-bottom: 1px solid $section-border-color;
    border-top-left-radius: $global-radius;
    border-bottom-left-radius: $global-radius;
    color: $body-font-color;
    transition: 250ms all ease;

    &:hover {
      &:before {
        left: 1px;
      }
    }

    &:before {
      content: "";
      width: rem-calc(15);
      height: rem-calc(15);
      position: absolute;
      top: 22px;
      left: 5px;
      background-image: url('../images/sidebar_toggle.svg');
      background-repeat: no-repeat;
      background-size: contain;
      transition: 250ms all ease;
    }

    &.active {
      &:before {
        left: 3px;
        transform: rotate(180deg);
      }
      &:hover {
        &:before {
          left: 6px;
        }
      }
    }

    @media #{$large-up} {
      display: none;
    }
  }
}