select {
    width: auto;
    padding:rem-calc(5px 25px 5px 5px);
}

input {
	&.noStyling {
		border:0px;
		padding:rem-calc(0 8px);
		margin:0;
		font-size: rem-calc(14px);
		line-height: rem-calc(20px);
		height: rem-calc(20px);
        background: transparent;
        &:focus {
            border: 1px solid $section-border-color;
        }
	}
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: darken($section-title-color, 10%);
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: darken($section-title-color, 10%);
}