.clvTracker {

    .headerInfo {
        font-size: rem-calc(14);
        margin-bottom: $column-gutter;
        .counter,
        .location,
        .ip {
            position: relative;
            padding-right: rem-calc(10);
            &:after {
                content: "|";
                position: relative;
                margin-left: rem-calc(10);
                width: rem-calc(4);
                height: auto;
            }
        }
        .ip {
            &:after {
                display: none;
            }
        }
    }

    .timelineProgress {
        position: relative;
        float: left;
        padding: 0;
        width: rem-calc(70);
        height: 100%;
        overflow: hidden;
        list-style-type: none;
        margin: rem-calc(10 0);
        display: block;
        padding-bottom: rem-calc(20);
        &:before {
            content: "";
            position: absolute;
            display: block;
            z-index: 1;
            background-color: #dbe4ec;
            width: rem-calc(2);
            height: calc(100% - 44px);
            left: rem-calc(15);
            top: 0;
            transition: 250ms all ease;
        }
    }

    .timelineData {
        position: relative;
        float: left;
        width: calc(100% - 70px);
        height: 100%;

        .recordHeader {
            height: rem-calc(35);
            padding-top: 3px;
            span {
                text-transform: uppercase;
                font-size:rem-calc(12);
                font-family: $additional-font;
                color: $content-headertitle-color;
                @extend .aliased;
            }
            &:before {
                position: absolute;
                display: block;
                content: "";
                z-index: 15;
                left: -60px;
                top: 8px;
                width: rem-calc(12);
                height: rem-calc(12);
                border-radius: 100%;
                background-color: $content-headertitle-color;
            }
            .cell {
                padding-left: rem-calc(15);
                &.device {
                    padding-left: 0;
                }
            }
        }

        .record {
            position: relative;
            margin-bottom: $column-gutter / 2;
            &:before {
                position: relative;
                display: block;
                content: "";
                z-index: 15;
            }
            &.entry {
                &:before {
                    content: "";
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    top: rem-calc(18);
                    left: rem-calc(-58);
                    border-radius: 100%;
                    background-color: $content-headertitle-color;
                }

                &.first {
                    &:before {
                        position: absolute;
                        display: block;
                        content: "";
                        top: 18px;
                    }
                }
                &.last {
                    &:before {
                        position: absolute;
                        width: rem-calc(12);
                        height: rem-calc(12);
                        left: rem-calc(-60);
                        top: rem-calc(16);
                        background-color: $content-headertitle-color;
                    }
                }
            }
            &.active {
                &:before {
                    background-color: #849db8;
                }
            }

            .datarow {
                position: relative;
                width: 100%;
                height: rem-calc(45);
                padding: 0;
                margin: rem-calc(0 0 15 0);
                border-radius: $global-radius;
                border-style: solid;
                border-width: 1px;
                border-color: rgb(219, 228, 236);
                background-color: rgb(255, 255, 255);
                box-shadow: 0px 2px 10px 0px rgba(82, 104, 128, 0.1);
                z-index: 2;

                .cell {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    padding: rem-calc(0 15);
                    border-right: 1px solid rgb(219, 228, 236);
                    overflow: hidden;
                    span {
                        font-size: rem-calc(14);
                        line-height: rem-calc(45);
                        @extend .aliased;
                    }
                    &.device {
                        width: rem-calc(60);
                        float: left;
                        text-align: center;
                        padding-top: 9px;
                        height: rem-calc(45);
                        i {
                            font-size: rem-calc(26);
                            display: block;
                        }
                    }
                    &.cta {
                        width: calc(100% - 60px)!important;
                        float: left;
                        border-right: 0;
                        padding: rem-calc(8 0);
                        text-align: center;
                        .button {
                            margin: 0 auto;
                        }
                    }
                }

                &:before {
                    content: "";
                    position: absolute;
                    z-index: 10;
                    left: -13px;
                    top: 14px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 7.5px 11px 7.5px 0;
                    border-color: transparent $section-border-color transparent transparent;
                }

                &:after {
                    content: "";
                    position: absolute;
                    z-index: 11;
                    left: -11px;
                    top: 14px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 7.5px 11px 7.5px 0;
                    border-color: transparent #ffffff transparent transparent;
                }

                .details {
                    display: none;
                }

                &.collapsed {
                    height: auto!important;
                    .details {
                        display: block!important;
                        border-bottom-left-radius: $global-radius;
                        border-bottom-right-radius: $global-radius;
                    }
                }

                .details {
                    height: auto;
                    background-color: rgb(255, 255, 255);
                    border-top: 1px solid $section-border-color;
                    overflow: hidden;
                    .description {
                        float: left;
                        width: 50%;
                    }
                    .features {
                        width: 50%;
                        float: left;
                    }

                    .header {
                        padding: rem-calc(3 15);
                        span {
                            text-transform: uppercase;
                            color: #dbe4ec;
                            font-size: 0.75rem;
                            font-family: $additional-font;
                            cursor: default;
                        }
                    }

                    .body {
                        padding: rem-calc(5 15 0);
                        overflow: hidden;
                        .image {
                            float: left;
                            width: rem-calc(75);
                            height: rem-calc(75);
                            margin-right: 10px;
                        }
                        .content {
                            display: inline;
                            p {
                                font-size: rem-calc(12);
                                margin-bottom: rem-calc(15);
                            }
                        }
                    }
                ;
                }
            }

            .actionData {
                padding-left: rem-calc(30);
                margin-bottom: rem-calc(15);
                .inner {
                    border-radius: $global-radius;
                    border-color: rgb(219, 228, 236);
                    box-shadow: 0px 2px 10px 0px rgba(82, 104, 128, 0.1);
                    border-style: solid;
                    border-width: 1px;
                    width: 100%;
                    overflow: hidden;
                    table {
                        width: 100%;
                    }

                    table.header {
                        thead {
                            tr {
                                th {
                                    height: rem-calc(30);
                                    padding: rem-calc(10 15);
                                }
                            }
                        }
                    }
                    table.data {
                        tbody {
                            tr {
                                td {
                                    padding: rem-calc(5 10)
                                }
                            }
                        }
                        .status {
                            display: block;
                            border-radius: 100%;
                            height: 8px;
                            width: 8px;
                            margin: 0 auto;
                            padding: 0!important;
                            &.success {
                                background-color: $success-color;
                            }
                            &.error {
                                background-color: $alert-color;
                            }
                        }
                        .action {
                            font-size: rem-calc(12);
                            &.fa {
                                color: #849db8;
                                &:before {
                                    margin-right: rem-calc(10);
                                }
                            }
                        }
                        .subject {
                            font-size: rem-calc(12);
                        }

                        .cta {
                            .action {
                                display: block;
                                border-width: 1px;
                                border-color: rgb(255, 0, 120);
                                border-style: solid;
                                background-color: rgb(255, 255, 255);
                                color: rgb(255, 0, 120);
                                border-radius: 20px;
                                padding: rem-calc(1 10);
                                margin: 0 auto;
                                font-size: rem-calc(10);
                                text-transform: uppercase;
                                max-width: 50px;
                                &:hover {
                                    background-color: rgb(255, 0, 120);
                                    color: rgb(255, 255, 255);
                                }
                            }
                        }
                    }
                }
            }

            .notification {
                position: relative;
                width: rem-calc(350);
                margin: 0 auto 15px;
                border-style: solid;
                border-width: 1px;
                border-color: rgb(219, 228, 236);
                border-radius: rem-calc(14);
                background-color: rgb(219, 228, 236);
                box-shadow: 0px 2px 10px 0px rgba(82, 104, 128, 0.1);
                overflow: hidden;
                header {
                    @extend .aliased;
                    &.main {
                        font-size: rem-calc(12);
                        padding-left: rem-calc(18);
                        padding-right: rem-calc(18);
                        .title {
                            width: rem-calc(200);
                            float: left;
                            line-height: 1.2;
                            padding-top: rem-calc(10);
                            span {
                                display: inline-block;
                                width: 75%;
                            }
                            .fa-envelope {
                                font-size: rem-calc(18);
                                margin-right: rem-calc(25);
                                &:before {
                                    position: absolute;
                                }
                            }
                        }
                        .datetime {
                            float: right;
                            padding-top: rem-calc(10);
                            text-align: right;
                        }
                    }
                }

                &.open {
                    height: rem-calc(178);
                    header {
                        &.main {
                            height: rem-calc(48);
                            .title {
                                .fa-envelope {
                                    &:before {
                                        margin-top: rem-calc(-25);
                                    }
                                }
                            }
                        }
                    }
                    .content {
                        display: block;
                        height: rem-calc(128);
                        background-color: #ffffff;
                        border-bottom-left-radius: 14px;
                        border-bottom-right-radius: 14px;
                        header {
                            border-bottom: 1px solid $section-border-color;
                            color: $content-headertitle-color;
                            padding: rem-calc(0 18);
                            line-height: rem-calc(30);
                            height: rem-calc(30);
                            .title {
                                width: 50%;
                                text-transform: uppercase;
                                font-size:rem-calc(12);
                                font-family: $additional-font;
                                float: left;
                            }
                            .status {
                                width: 50%;
                                font-size: rem-calc(12);
                                float: right;
                                text-align: right;
                                @extend .subaliased;
                                .priority1,
                                .priority2,
                                .priority3,
                                .priority4,
                                .priority5 {
                                    font-weight: 700;
                                }

                            }
                        }
                        .body {
                            padding: rem-calc(15 18 10);
                            .th {
                                margin-right: rem-calc(5);
                                &.last {
                                    margin-right: 0;
                                }
                            }
                        }
                        footer {
                            font-size: rem-calc(12);
                            padding: rem-calc(0 18);
                            .fi-x {
                                font-weight: 200;
                            }
                        }
                    }
                }
                &.closed {
                    height: rem-calc(30);
                    cursor: pointer;
                    header {
                        &.main {
                            height: rem-calc(30);
                            opacity: 0.6;
                            &:hover {
                                opacity: 1;
                            }
                            .title {
                                padding-top: rem-calc(7);
                                span {
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    width: 130px;
                                }
                                .fa-envelope {
                                    &:before {
                                        margin-top: rem-calc(-16);
                                    }
                                }
                            }
                            .datetime {
                                padding-top: rem-calc(6);
                            }
                        }
                    }
                    .content {
                        display: none;
                    }
                }
            }
        }

        .relation {
            position: relative;
            &:before {
                position: absolute;
                z-index: 20;
                content: "";
                height: calc(100% - 43px);
                width: rem-calc(20);
                border-top-right-radius: $global-radius;
                border-bottom-right-radius: $global-radius;
                border-left: 0;
                border-top: 2px solid #849db8;
                border-right: 2px solid #849db8;
                border-bottom: 2px solid #849db8;
                margin-left: -52px;
                margin-top: 21px;
            }
            .fa-bolt {
                height: rem-calc(30);
                width: rem-calc(30);
                position: absolute;
                z-index: 30;
                top: 50%;
                margin-top: -15px;
                left: rem-calc(-48);
                border: 2px solid #ffffff;
                border-radius: 100%;
                background-color: #79e193;
                color: #ffffff;
                text-align: center;
                padding-top: 5px;
            }

            &.collapseEnd {
                &:before {
                    position: absolute;
                    z-index: 20;
                    content: "";
                    height: calc(100% - 124px);
                    width: rem-calc(20);
                    border-top-right-radius: $global-radius;
                    border-bottom-right-radius: $global-radius;
                    border-left: 0;
                    border-top: 2px solid #849db8;
                    border-right: 2px solid #849db8;
                    border-bottom: 2px solid #849db8;
                    margin-left: -52px;
                    margin-top: 21px;
                }
            }
        }
    }

}