.elementPanel {
    position: relative;
    width: 100%;
    height: auto;
    background: $white;
    border-radius: $global-radius;
    border: 1px solid $section-border-color;
    margin-bottom: $column-gutter;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    @extend .animated;
    @extend .fadeIn;

    .title {
        height: auto;
        padding: 0 6px 0 15px!important;
        border-bottom: 1px solid $section-border-color;
        background: $section-title-color;
        overflow: hidden;
        border-top-left-radius: $global-radius;
        border-top-right-radius: $global-radius;
        h3 {
            color: #849db8;
            margin: 0;
            font-size: rem-calc(15);
            line-height: rem-calc(40);
            letter-spacing: 1px;
        }
        select,
        input {
            margin: 0;
        }
        .button {
            margin-bottom: 0;
            margin-top: rem-calc(4);
            padding-top: 6px;
            padding-bottom: 5px;
            background-color: #fff;
        }
        .dataTables_paginate {
            margin-right: -6px;
            .paginate_button {
                line-height: rem-calc(37)
            }
        }
    }

    .content {
        position: relative;
        height: 100%;
        background: $white;
        border-radius: $global-radius;
        clear: both;
        @include clearfix();

        .bodyText {
            padding: rem-calc(15);
            @include clearfix();

            h1 {
                font-weight: 700;
                font-size: rem-calc(20);
                margin-bottom: rem-calc(5);
            }
            h2 {
                font-weight: 700;
                font-size: rem-calc(18);
                margin-bottom: rem-calc(5);
            }
            h3 {
                font-weight: 700;
                font-size: $h3-font-size;
                margin-bottom: rem-calc(5);
                &.sectionTitle {
                    font-size: 14px;
                    margin-bottom: 5px;
                    letter-spacing: 1px;
                    font-weight: normal;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    text-transform: uppercase;
                    border-bottom: 1px solid $section-border-color;
                }
            }
            h4 {
                font-weight: 700;
                font-size: $h4-font-size;
                margin-bottom: rem-calc(5);
            }
            label {
                cursor: initial;
                font-size: rem-calc(14);
                color: $body-font-color;
            }
            p {
                margin-bottom: rem-calc(10);
                &:last-of-type {
                    margin-bottom: 0;
                }
                &.small {
                    font-size: rem-calc(11);
                }
            }
            a {
                color: $secondary-color;
                @include font-smoothing(on);
            }

            .has-tip {
                font-size: rem-calc(14);
            }

            .smallBlock {
                margin-bottom: 0;
            }

        }

        .loaderOverlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: transparentize($white, 0.4);
            top: 0;
            @extend .animated;
            @extend .fadeIn;
            .loader {
                position: relative;
                top: 50%;
                margin-top: -20px;
            }
        }

        table {
            .select2-container {
                margin: 0!important;
            }
            &.dataTable {
                margin: 0!important;
            }
        }
    }

    .footer {
        padding: rem-calc(15);
        background: #ecf1f5;
        height: rem-calc(67);
        overflow: hidden;
        .button {
            &.primary {
                padding: rem-calc(7px 15px);
            }

        }
    }

    &.collapsable {
        .title {
            &:after {
                float: right;
                content: "";
                display: block;
                position: absolute;
                right: 10px;
                top: 10px;
                height: 10px;
                width: 10px;
                border: 1px solid red;
            }

            &:hover {
                background: darken($section-title-color, 5%);
                cursor: pointer;
                transition: 250ms all ease;
            }

            .collapse-icon {
                width: 20px;
                height: 20px;
                float: right;
                font-size: rem-calc(16);
                @extend .fa;
                @extend .fa-sort-desc;
            }

            &.open {
                .collapse-icon {
                    transform: rotate(180deg);
                    margin-right: 11px;
                    margin-top: 5px;
                }
            }
            &.closed {
                .collapse-icon {
                    margin-top: rem-calc(8);
                }
            }
        }
        .content {
            display: block;
        }
        &.closed {
            .title {
                border-bottom: 0;
                .collapse-icon {
                    transform: rotate(180deg)!important;
                    margin-right: 11px;
                }
                &.open {
                    border-bottom: 1px solid $section-border-color;
                    .collapse-icon {
                        transform: rotate(360deg)!important;
                        margin-right: 0;
                        margin-top: 8px;
                    }
                }
            }
            .content {
                display: none;
            }
        }
    }

    // Elementpanel with tabs
    &.withTabs {
        .title {
            border-bottom: 0;
            padding-bottom: 0;
        }
        ul.tabs {
            padding-top: 0!important;
            margin-left: 0;
            z-index: 10;
            .tab-title {
                a {
                    padding-top: 12px;
                    padding-bottom: 12px;
                    padding-left: rem-calc(30);
                    padding-right: rem-calc(30);
                    color: #acb5c1;
                }
                &.active {
                    a {
                        color: $secondary-color;
                        background-color: $white;
                        &:hover {
                            color: $secondary-color;
                        }
                    }
                }
            }

        }
        .tabs-content {
            border-top: 0;
        }
    }

    // E-mailbox
    &.emailbox {
        margin-bottom: 0;
    }

    // Custom elements
    .select2-container {
        margin: rem-calc(0 0 15 0)!important;
    }

    .daylabel {
        -ms-transform: rotate(-60deg); /* IE 9 */
        -webkit-transform: rotate(-60deg); /* Chrome, Safari, Opera */
        transform: rotate(-60deg);
    }
}