.sectionControls {
  ul.menu {

    li {
      .settings {
        &.fi-wrench {
          &:before {
            margin-right: rem-calc(6);
            font-size: rem-calc(16);
          }
        }
      }

      .submenu {
        display: none;
        position: absolute;
        width: rem-calc(200);
        margin:0;
        opacity: 0;
        background: $white;
        z-index: 12;
        border: 1px solid $section-border-color;
        border-radius: $global-radius;
        transition: 400ms all ease-in-out;
		right:rem-calc(20px);
        li {
          display: block;

          a {
            display: block;
            padding: rem-calc(4) rem-calc(12);
            color: $secondary-nav-color;
            font-size: rem-calc(14);
            &:hover {
              color: $body-font-color;
            }
          }
        }
      }

      &:hover {
        .submenu {
          display: block;
          @extend .bounce;
          margin-top: -5px;
          opacity: 1;
        }
      }
    }
  }
}