.tabs {
    padding-left: 0;
    margin-left: 0;
    .tab-title {
        border: 1px solid transparent;
        border-radius: $global-radius;
        a {
            padding: 6px rem-calc(15);
            text-align: center;
            @extend .aliased;
        }
        &.active {
            border-top: 1px solid transparent;
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            a {
                color: #666666;
                padding: rem-calc(12) rem-calc(15);
            }
        }
    }
}

.tabs-content {
    margin-bottom: 0;
    border-top: 1px solid $section-border-color;
    height: 100%;
    .content {
        background: $white;
        height: 100%;
        padding: 0;
    }
    section {
        background: transparent;
    }
}