table {
    &.small {
        tr {
            td {
                padding:rem-calc(5px);
                font-size: rem-calc(12px);
            }
        }
    }
}

.dataTables_wrapper {
    .tabpanel_filterbox {
        padding: 10px;
    }
}