.ticketDetail {
	label {
		margin: rem-calc(20 0 0 20);
		color: $secondary-nav-color;
		text-transform: uppercase;
		font-weight: $font-weight-bold;
		font-size: $h6-font-size;
	}
	
	label + span {
		display: inherit;
		margin: rem-calc(0 0 0 20);
		font-size: $h4-font-size;
	}
	
	.label {
		&.round {
			margin-right: rem-calc(20);
		}
	}
	
	table {
		caption {
			padding: rem-calc(20 0 0 20);
			font-size: $h3-font-size;
			color: $primary-color;
			text-align: left;
		}
	}
	
	hr {
		margin-bottom: 0;
	}
	
	h4 {
		padding: rem-calc(20 0 0 20);
		font-size: $h3-font-size;
	}
	
	.documentList {
		list-style: none;
		margin-bottom: 0;
		
		.listItem {
			display: inline-block;
			padding: rem-calc(0 20 20 0);
			
			a {
				span {
					font-size: $h4-font-size;
					text-align: center;
					
					&:before {
						display: block;
						width: rem-calc(50);
						height: auto;
						content: url('/static/images/tickets/document.svg');
					}
				}
			}
			
			span {
				padding-left: rem-calc(3);
				font-size: $h4-font-size;
			}
		}
	}
	
	form {
		margin: rem-calc(0 20 60 20);
	}
}