


.fc-day-grid-event {
    padding: rem-calc(3);
    .fc-content {
        .fc-title {
            padding: rem-calc(5);
        }
    }
    
    &.holiday {
        background-color: #EBE1A4;
        color: #333333;
    }
    
    &.project {
        background-color: #AFE3D6;
        color: #333333;
    }
    
    &.support {
        background-color: #F29552;
    }
}

.fc-row {
    .fc-content-skeleton {
        td {
            &.fc-day-number {
                background-color: #EEEEEE;
            }
        }
    }
}

.fc-content {
    min-height: rem-calc(50);
}

.fc {
    hr {
        height: 0;
        margin: 0;
        padding: 0 0 2px;
        border-style: solid;
        background-color: red!important;
        position: relative;
        border: 0!important;
        @extend .animated;
        @extend .bounceInTop;
    }
}

.fc-toolbar {
    .fc-button-group {
        .fc-button {
            @extend .button;
        }
        .fc-prev-button {
            border-top-left-radius: $global-radius;
            border-bottom-left-radius: $global-radius;
        }
        .fc-next-button {
            border-top-right-radius: $global-radius;
            border-bottom-right-radius: $global-radius;
        }
    }
    .fc-today-button {
        display: none;
    }
}

